<fieldset>
    <legend>Overpass Prediction Settings</legend>
    <div class="form-group">
        <label for="days">Days to Predict:</label>
        <input type="text" id="days" min="1" value="3" />
    </div>
    <div class="form-group">
        <label for="prediction_range_overpass">Time of Day:</label>
        <select id="prediction_range_overpass">
            <option value="both">Both</option>
            <option value="night">Night</option>
            <option value="day">Day</option>
        </select>
    </div>
</fieldset>
